body {
  background-color: #E6EFE9;
  font-family: "Dekko", cursive;
  font-weight: 300;
  font-style: normal;
  min-height: 100vh;
  padding-bottom: 60px;
}


header {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

#age{
  width: 100%;

}

/* this is what is keeping  us from centering  */
/* .headerNavContainer {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 10px 20px; 
} */

/* not dong anythin gbut we might still want it  */
/* nav ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  display: flex; 
} */

/* nav ul li {
  display: inline; 
  margin-right: auto; 
} */

/* .nav-link {
  color: rgba(0, 0, 0, .55);
} */

/* changes color of the title purr mate  */
h1 {
  font-size: 36px;
  color: darkolivegreen;
}

/* .link {
  text-decoration: none;
} */

/* this does all the sytling for the footer DO NOT DELETE */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 7%;
  background-color: #A7C4A0;
  color: darkolivegreen;
  text-align: center;
  padding: 10px 0;
}

/* this is making each of the cats names large, what daisy was looking for  */
.catName {
  font-size: 1.5rem;
}

/* this styles the img */
.logoImg {
  max-width: 9%;
  margin-right: 100%;
  border-radius: 50%;
  margin-right: auto;

}

/* .centered-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
  font-size: 30px;
} */


/* footer needs work */

  #catJokeButton {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Change font size and color of the navigation links */
  .nav-link {
    font-size: 18px;
    color: #333;
    right: 0;
  }
    /* Push the logo into the center  */
  

  /* jokes seem to already be in the center */
/* 
  .jokes {
    text-align: center;
  } */

/* cneter main content on the main page */
.mainContentOnMainPage{
display: flex;
align-items: row;
justify-content: center;
text-align: center ;
}

.jokes{
  text-align: center;
}

.form-group{
  margin-left: 10%;
  margin-right: 10%;
}

#email{
  width: 100%;
}

#submit{
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}