body{
  background-color: #E6EFE9;
    font-family: "Dekko", cursive;
    font-weight: 300;
    font-style: normal;
}

header {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}

.headerNavContainer {
  padding: 10px;
  text-align: center;

}

h1 {
  font-size: 36px;
  color: darkolivegreen;
}

.link {
  text-decoration: none;
}

h5 {
  font-size: 18px;
  color: rgb(21, 31, 3)
}

footer {
    position: fixed;
    /* or position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #A7C4A0;
    color: darkolivegreen;
    text-align: center;
    padding: 10px 0;
    }

.catName {
  font-size: 1.5rem;
}

h5 {
  font-size: 18px;
  color: rgb(21, 31, 3)
}

.footer {
  text-align: center;
}